body {
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
}
header{
    background: repeat center/cover url("assets/twice.jpg");
    height: 50vh;
    padding: 150px;
}

header .pgrupo {
    margin: auto; 
    text-align:center;
    
}

header .pgrupo h1 {
    margin-bottom: 5px; 
    font-size: 2rem;
    color: white; 
    padding: 5px;
    text-align:center;
} 

.card {
    background: #0F3D3E;
    padding: 15px;

}

.card .grupo1{
    background: repeat center/cover url("assets/blackpink.webp");
    width: 375px;
    height: 400px;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
}

.card .grupo2{
    background: repeat center/cover url("assets/twice1.jpg");
    width: 350px;
    height: 400px;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
}

.card .grupo3{
    background: repeat center/cover url("assets/itzy.jpg");
    width: 350px;
    height: 400px;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
}

.card .grupo-card {
    
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.card .grupo-card .grupo1 .grupo-cont {
    
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    color:white;
    
}

.card .grupo-card .grupo2 .grupo-cont {
    
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    color:white;
    
}

.card .grupo-card .grupo3 .grupo-cont {
    
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    color:white;
    
}

.desc {
    background: #E2DCC8;
    padding: 10px;
    text-align: center;
}

.desc .blackpink {
    text-align: center;
    color: black;
}

.desc .msc1 {
    text-align: center;
    color: black;
}



.desc .msc1 .mg2 { 
    padding: 10px 15px; 
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif; 
    cursor: pointer;
}

.desc .msc1 .mg3 { 
    padding: 10px 15px; 
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif; 
    cursor: pointer;
}


.intg {
    background: #E2DCC8;
    padding: 15px;

}

.intg .intg-card {
    
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}   

.intg .intg-card .rose{
    background: repeat center/cover url("assets/rose.jpg");
    width: 300px;
    height: 400px;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    color:rgb(255, 255, 255);
}


.intg .intg-card .jennie{
    background: repeat center/cover url("assets/jennie.jpg");
    width: 300px;
    height: 400px;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    color:white;
}


.intg .intg-card .lisa{
    background: repeat center/cover url("assets/lisa.png");
    width: 300px;
    height: 400px;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    color:white;
}


.intg .intg-card .jisso{
    background: repeat center/cover url("assets/jisso.jpg");
    width: 300px;
    height: 400px;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    color:white;
}

.desctw .twice {
    text-align: center;
    color: black;
}

.desctw {
    background: #E2DCC8;
    padding: 10px;
    text-align: center;
}

.desctw .intg-card {
    
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.desctw .msc1tw .mg1tw { 
    padding: 10px 15px; 
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif; 
    cursor: pointer;
}
.desctw .msc1tw .mg2tw { 
    padding: 10px 15px; 
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif; 
    cursor: pointer;
}

.desctw .msc1tw .mg3tw { 
    padding: 10px 15px; 
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif; 
    cursor: pointer;
}

.desctw .intg-card .nayeon{
    background: repeat center/cover url("assets/nayeon.jpg");
    width: 330px;
    height: 400px;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    color:white;
}

.desctw .intg-card .momo{
    background: repeat center/cover url("assets/momo.jpg");
    width: 330px;
    height: 400px;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    color:white;
}

.desctw .intg-card .jihyo{
    background: repeat center/cover url("assets/jihyo.jpg");
    width: 330px;
    height: 400px;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    color:white;
}

.desctw .intg-card .sana{
    background: repeat center/cover url("assets/sana.webp");
    width: 330px;
    height: 400px;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    color:white;
}

.desctw .intg-card .mina{
    background: repeat center/cover url("assets/mina.jpg");
    width: 270px;
    height: 400px;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    color:white;
}

.desctw .intg-card .jeongyeon{
    background: repeat center/cover url("assets/jeongyeon.png");
    width: 260px;
    height: 400px;
    border-radius: 24px 0;
    margin: auto;
    position: relative;
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    color:white;
    
}

.desctw .intg-card .dayhun{
    background: repeat center/cover url("assets/dahyun.png");
    width: 260px;
    height: 400px;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    color:white;
}

.desctw .intg-card .chaeyoung{
    background: repeat center/cover url("assets/Chaeyoung_at_Gaon_Awards_red_carpet_on_January_23\,_2019.jpg");
    width: 260px;
    height: 400px;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    color:white;
}

.desctw .intg-card .tzuyu{
    background: repeat center/cover url("assets/tzuyu.jpg");
    width: 260px;
    height: 400px;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    color:white;
}

.itzy {
    background: #E2DCC8;
    padding: 10px;
    text-align: center;
}

.itzy .msc1it .mg1it { 
    padding: 10px 15px; 
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif; 
    cursor: pointer;
}

.itzy .msc1it .mg2it { 
    padding: 10px 15px; 
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif; 
    cursor: pointer;
}

.itzy .msc1it .mg3it { 
    padding: 10px 15px; 
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif; 
    cursor: pointer;
}

.itzy .intg-card .yeji {
    background: repeat center/cover url("assets/yeji.jpg");
    width: 260px;
    height: 400px;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    color:white;
}

.itzy .intg-card .lia{
    background: repeat center/cover url("assets/lia.jpg");
    width: 260px;
    height: 400px;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    color:white;
}

.itzy .intg-card .ryujin{
    background: repeat center/cover url("assets/ryujin.jpg");
    width: 260px;
    height: 400px;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    color:white;
}

.itzy .intg-card .chaeryeong{
    background: repeat center/cover url("assets/chaeryeong.jpg");
    width: 260px;
    height: 400px;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    color:white;
}

.itzy .intg-card .yuna{
    background: repeat center/cover url("assets/yuna.jpg");
    width: 260px;
    height: 400px;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
    text-align: center;
    font-family:'Montserrat', sans-serif; 
    color:white;
}


.itzy .intg-card {
    
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.desc .msc1 .mg1 { 
    padding: 10px 15px; 
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif; 
    cursor: pointer;

}

